
form {
    display: flex;
    flex-direction: column; 
}

label {
    color: rgb(255, 183, 0);
    margin-bottom: 5px;
    align-self: center;
}

input[type="text"] {
    margin-bottom: 20px;
    border-radius: 100px;
    width: 250px;
    align-self: center;
    border-color: rgb(255, 183, 0);
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}

input[type="submit"]
{
    background-color: rgb(0, 0, 0);
    border-color: rgb(255, 183, 0);
    border-radius: 100px;
    width: 100px;
    color: rgb(255, 183, 0);
    align-self: center;
}

body {
background-color: rgb(0, 0, 0);
}

h1 {
    margin-left: auto;
    margin-right: auto;
    color: rgb(231, 166, 3);
    text-align: center;
}

h3 {
    color: rgb(231, 166, 3);
    margin-left: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
